* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
h1 {
  text-align: center;
}
button {
  color: black;
}
.squares {
  border: 1px solid #333;
  width: 5%;
  height: 50px;
}

.squares:hover {
  background-color: #f8acff;
}
#container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 960px;
}

.changeColor {
  background-color: #f8acff;
}
